<!DOCTYPE html>
{% load static %}
<html lang="en-us" dir="ltr">
<head>
    <title>Deployments</title>
    <link rel="stylesheet" href="{% static 'css/shared.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
<!--     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <style>
    /* Container for sidebar and main content */
    .container {
        display: flex;
    }

    /* Sidebar styles */
    .side-panel {
        width: 50px;  /* Set the width of the sidebar */
    }

    /* Main content styles (shifted to the right) */
    .content-right {
        flex-grow: 1;  /* Takes up remaining space */
        margin-left: 10px;  /* Space between sidebar and content */
    }

    /* Ensure table takes full width of content-right */
    .content-right table {
        width: 100%;
    }
    /* Alert base class */
    .alert {
      width: 100%;  
      position: relative;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 8px;
    }

    .alert-success {
      background-color: #d1e7dd;
      border-color: #badbcc;
    }

    .alert-success hr {
      border-top-color: #b1dfbb;
    }
        
    .alert-success {
      --link-fg: red;
    }

        
    

    </style>
    
</head>
{% include 'head.html' %}
        <!-- END Header -->
        <div class="main shifted" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content">
                    <h1>Deployments</h1>
                    {% if messages %}
                    <div class="alert alert-success">
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                        
                    <a href="{% url 'view_system_logs' log_type='deployment' %}">Deployment Log</a> |
                    <a href="{% url 'view_system_logs' log_type='destroy' %}">Destroy Log</a> |
                    <a href="{% url 'view_system_logs' log_type='task' %}">Task Log</a> |
                    <a href="{% url 'view_system_logs' log_type='application' %}">Application Log</a>
                    
                       
                   
                </div>
                <div class="table-container">
                    <div id="content-main">
                        <div class="app-background_task module">
                             <div class="container">
                                <!-- Sidebar placeholder -->
                                <div class="side-panel">
                                    <!-- Add any sidebar content here -->
                                </div>
                                 <!-- Main content area where the table is shifted to the right -->
                                <div class="content-right">
                                    <table>
                                        <colgroup>
                                            <col style="width: 250px;">
                                            <col style="width: 100px;">
                                            <col style="width: 150px;">
                                            <col style="width: 100px;"> 
                                            <col style="width: 100px;">
                                            <col style="width: 150px;"> 
                                            <col style="width: 100px;">
                                            <col style="width: 220px;">
                                            <col style="width: 25px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Built By</th>
                                                <th>Owner / Contact</th>
                                                <th>VM Count</th>
                                                <th>Type</th>
                                                <th>Created on</th>
                                                <th>Status</th>
                                                <th>Admin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for deployment in deployments %}
                                            {% if deployment.status != 'destroyed' %}
                                            <tr>
                                                <td><a href="{% url 'deployment_detail' deployment.id %}">{{ deployment.deployment_name }}</a></td>
                                                <td>{{ deployment.builtby }}</td>
                                                <td>{{ deployment.owner_value }}</td>
                                                <td>{{ deployment.deployment_count }}</td>
                                                <td>{{ deployment.server_type_value }}</td>
                                                <td>{{ deployment.created_at }}</td>
                                                <td id="deployment-status-{{ deployment.id }}" class="
                                                    {% if deployment.status == 'queued' %}status-queued
                                                    {% elif deployment.status == 'failed' %}status-failed
                                                    {% elif deployment.status == 'building' %}status-building
                                                    {% elif deployment.status == 'deployed' %}status-inservice
                                                    {% elif deployment.status == 'needsapproval' %}status-needsapproval
                                                    {% elif deployment.status == 'destroyed' %}status-destroyed
                                                    {% endif %}
                                                ">
                                                    {{ deployment.status }}
                                                </td>

                                                <!-- Action buttons -->
                                                <td id="deployment-actions-{{ deployment.id }}">
                                                    {% if deployment.status == 'needsapproval' %}
                                                        {% if user.is_staff %}
                                                            <a href="{% url 'approve_deployment' deployment.id %}" class="btn btn-primary">Approve</a> / 
                                                            <a href="#" class="destroy-button" data-id="{{ deployment.id }}" data-status="{{ deployment.status }}">Destroy</a>
                                                        {% else %}
                                                            <span style="color: gray; cursor: not-allowed;">Approve</span> / 
                                                            <span style="color: gray; cursor: not-allowed;">Destroy</span>
                                                        {% endif %}
                                                    {% elif deployment.status == 'failed' %}
                                                        {% if user.is_staff %}
                                                            <a href="{% url 'approve_deployment' deployment.id %}" class="btn btn-primary">Re-Deploy</a> / 
                                                            <a href="#" class="destroy-button" data-id="{{ deployment.id }}" data-status="{{ deployment.status }}">Destroy</a>
                                                        {% else %}
                                                            <span style="color: gray; cursor: not-allowed;">Re-Deploy</span> / 
                                                            <span style="color: gray; cursor: not-allowed;">Destroy</span>
                                                        {% endif %}
                                                    
                                                    {% elif deployment.status == 'deployed' %}
                                                        {% if user.is_staff %}
                                                            {% if deployment.protected %}
                                                                <span style="color: gray; cursor: not-allowed;">Protected</span>
                                                            {% else %}
                                                                <a href="#" class="destroy-button" data-id="{{ deployment.id }}" data-status="{{ deployment.status }}">Screamtest</a>
                                                            {% endif %}
                                                        {% else %}
                                                            <span style="color: gray; cursor: not-allowed;">Screamtest</span>
                                                        {% endif %}
                                                    {% elif deployment.status == 'building' %}
                                                        <div class="loader"></div>

                                                        <style>
                                                        .loader {
                                                          border: 3px solid #f3f3f3;
                                                          border-top: 3px solid #3498db;
                                                          border-radius: 50%;
                                                          width: 12px;
                                                          height: 12px;
                                                          animation: spin 3s linear infinite;
                                                        }

                                                        @keyframes spin {
                                                          0% { transform: rotate(0deg); }
                                                          100% { transform: rotate(360deg); }
                                                        }
                                                        </style>

                                                    {% endif %}
                                                </td>

                                            </tr>
                                            {% endif %}
                                            
                                            {% if deployment.status == 'destroyed' %}
                                            <tr class=status-destroyed>
                                                <td><a href="{% url 'deployment_detail' deployment.id %}">{{ deployment.deployment_name }}</a></td>
                                                <td>{{ deployment.builtby }}</td>
                                                <td>{{ deployment.owner_value }}</td>
                                                <td>{{ deployment.deployment_count }}</td>
                                                <td>{{ deployment.server_type_value }}</td>
                                                <td>{{ deployment.created_at }}</td>
                                                <td id="deployment-status-{{ deployment.id }}" class=status-destroyed>
                                                    {{ deployment.status }}
                                                </td>

                                                <!-- Action buttons -->
                                                <td id="deployment-actions-{{ deployment.id }}">
                                                   
                                                    {% if user.is_staff %}
                                                        <a href="{% url 'approve_deployment' deployment.id %}" class="btn btn-primary">Re-Deploy</a> / 
                                                        <a href="#" class="destroy-button" data-id="{{ deployment.id }}" data-status="{{ deployment.status }}">Destroy Forever</a>
                                                    {% else %}
                                                        <span style="color: gray; cursor: not-allowed;">Re-Deploy</span> / 
                                                        <span style="color: gray; cursor: not-allowed;">Destroy Forever</span>
                                                    {% endif %}
                                                   
                                                
                                                </td>

                                            </tr>
                                            {% endif %}
                                            
                                            {% if deployment.status == 'screamtest' %}
                                            <tr class=status-screamtest>
                                                <td><a href="{% url 'deployment_detail' deployment.id %}">{{ deployment.deployment_name }}</a></td>
                                                <td>{{ deployment.builtby }}</td>
                                                <td>{{ deployment.owner_value }}</td>
                                                <td>{{ deployment.deployment_count }}</td>
                                                <td>{{ deployment.server_type_value }}</td>
                                                <td>{{ deployment.created_at }}</td>
                                                <td id="deployment-status-{{ deployment.id }}" class=status-screamtest>
                                                    {{ deployment.status }}
                                                </td>

                                                <!-- Action buttons -->
                                                <td id="deployment-actions-{{ deployment.id }}">
                                                   
                                                    {% if user.is_staff %}
                                                        <a href="{% url 'approve_deployment' deployment.id %}" class="btn btn-primary">Re-Deploy</a> / 
                                                        <a href="#" class="destroy-button" data-id="{{ deployment.id }}" data-status="{{ deployment.status }}">Destroy Forever</a>
                                                    {% else %}
                                                        <span style="color: gray; cursor: not-allowed;">Re-Deploy</span> / 
                                                        <span style="color: gray; cursor: not-allowed;">Destroy Forever</span>
                                                    {% endif %}
                                                   
                                                
                                                </td>

                                            </tr>
                                            {% endif %}
                                            
                                        {% endfor %}

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
<!-- Modal HTML for Confirmation -->
    <div id="confirmModal" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>Are you sure you want to destroy this deployment?</h2>
            <form id="confirmForm" method="post" action="{% url 'destroy_deployment' 0 %}">
                {% csrf_token %}
                <button type="submit">Yes, destroy</button>
                <button type="button" id="cancelButton">Cancel</button>
            </form>
        </div>
    </div>

    <script>
        // jQuery to handle the modal display and form submission
        $(document).ready(function(){
            $('.destroy-button').click(function(e) {
                e.preventDefault();
                var deploymentId = $(this).data('id');
                var deploymentStatus = $(this).data('status');
                
                if (deploymentStatus === 'needsapproval' || deploymentStatus === 'queued' || deploymentStatus === 'failed' || deploymentStatus === 'deployed' || deploymentStatus === 'destroyed') {
                    $('#confirmModal').show();
                    
                    $('#confirmForm').attr('action', `/destroy_deployment/${deploymentId}/`);
                }
            });

            // Close modal on cancel button click
            $('#cancelButton').click(function() {
                $('#confirmModal').hide();
            });
        });
        
//         // this updates the status automagically
//         function updateStatus(deploymentId) {
//             fetch(`/deployment-status/${deploymentId}/`)
//                 .then(response => response.json())
//                 .then(data => {
//                     const statusElement = document.getElementById(`deployment-status-${deploymentId}`);
//                     const actionsElement = document.getElementById(`deployment-actions-${deploymentId}`);

//                     if (statusElement) {
//                         // Update the text content
//                         statusElement.textContent = data.status;

//                         // Remove any existing status class
//                         statusElement.classList.remove('status-queued', 'status-failed', 'status-building', 'status-deployed', 'status-needsapproval');

//                         // Add the new class based on the status
//                         if (data.status === 'queued') {
//                             statusElement.classList.add('status-queued');
//                             actionsElement.innerHTML = `<a href="#" class="destroy-button" data-id="${deploymentId}" data-status="queued">Destroy</a>`;
//                         } else if (data.status === 'failed') {
//                             statusElement.classList.add('status-failed');
//                             actionsElement.innerHTML = `<a href="/approve_deployment/${deploymentId}" class="btn btn-primary">Re-Deploy</a> / 
//                                                         <a href="#" class="destroy-button" data-id="${deploymentId}" data-status="failed">Destroy</a>`;
//                         } else if (data.status === 'building') {
//                             statusElement.classList.add('status-building');
//                             actionsElement.innerHTML = `<a href="/cancel_deployment/${deploymentId}" class="btn btn-primary">Cancel</a>`;
//                         } else if (data.status === 'deployed') {
//                             } if (data.protected === True) {
//                                 statusElement.classList.add('status-deployed');
//                                 actionsElement.innerHTML = `<span style="color: gray; cursor: not-allowed;">Protected</span>`;
//                             } else {
//                                 statusElement.classList.add('status-deployed');
//                                 actionsElement.innerHTML = `<a href="#" class="destroy-button" data-id="${deploymentId}" data-status="deployed">Destroy</a>`;
//                             }
//                         } else if (data.status === 'needsapproval') {
//                             statusElement.classList.add('status-needsapproval');
//                             actionsElement.innerHTML = `<a href="/approve_deployment/${deploymentId}" class="btn btn-primary">Approve</a> / 
//                                                         <a href="#" class="destroy-button" data-id="${deploymentId}" data-status="needsapproval">Destroy</a>`;
//                         }
//                     }
//                 })
//                 .catch(error => console.error('Error:', error));
//         }


//         function startPollingStatus() {
//             // Loop over all deployments and update their status
//             {% for deployment in deployments %}
//                 setInterval(() => {
//                     updateStatus({{ deployment.id }});
//                 }, 5000); // Every 5 seconds
//             {% endfor %}
//         }

//         // Call the function to start polling
//         startPollingStatus();

    </script>

    <style>
        /* Basic styles for modal overlay */
        .modal {
            display: none; /* Hidden by default */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
            text-align: center;
        }
    </style>

</body>
</html>

