<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en-us" dir="ltr">
<head>
    <title>Nodes</title>
    <link rel="stylesheet" href="{% static 'css/shared.css' %}">
<!--     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <style>
    /* Container for sidebar and main content */
    .container {
        display: flex;
    }

    /* Sidebar styles */
    .side-panel {
        width: 50px;  /* Set the width of the sidebar */
    }

    /* Main content styles (shifted to the right) */
    .content-right {
        flex-grow: 1;  /* Takes up remaining space */
        margin-left: 10px;  /* Space between sidebar and content */
    }

    /* Ensure table takes full width of content-right */
    .content-right table {
        width: 100%;
    }
        /* This centers the search container and moves it to the right side */
    .search-container {
        display: flex;
/*         justify-content: flex-end; /* Moves the search box to the right */ */
        margin-left: 0px;
    }
    button {
        margin-left: 10px;
        padding: 8px 12px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }


    </style>
    
</head>
{% include 'head.html' %}
    <!-- END Header -->
        <div class="main shifted" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content">
                    <h1>Nodes</h1><a href="/nodes">
                </div>
                <div class="table-container">
                    <div id="content-main">
                        <div class="app-background_task module">
                            <div class="container">
                                <!-- Sidebar placeholder -->
                                <div class="side-panel">
                                    <!-- Add any sidebar content here -->
                                </div>
                                <!-- Main content area where the table is shifted to the right -->
                                <div class="content-right">
                                    <table>
                                        <colgroup>
                                            <col style="width: 150px;">  <!-- view/edit -->
                                            <col style="width: 260px;"> <!-- name -->
                                            <col style="width: 150px;"> <!-- owner -->
                                            <col style="width: 150px;"> <!-- zone -->
                                            <col style="width: 350px;"> <!-- Deployment -->
                                            <col style="width: 130px;"> <!-- status -->
                                            <col style="width: 250px;"> <!-- HW -->
                                            <col style="width: 100px;"> <!-- cpu -->
                                            <col style="width: 100px;"> <!-- memory -->
                                            <col style="width: 100px;"> <!-- disk -->
                                            <col style="width: 250px;"> <!-- OS -->
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Owner</th>
                                                <th>Centrify Zone</th>
                                                <th>Deployment</th>
                                                <th>Status</th>
                                                <th>Hardware Profile</th>
                                                <th>CPU</th>
                                                <th>Memory (MB)</th>
                                                <th>Disk (GB)</th>
                                                <th>Operating System</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <div class="search-container">
                                                <form method="GET" action="{% url 'node_list' %}">
                                                    <input type="text" name="q" placeholder="Search by name" value="{{ query }}">
<!--                                                     <button type="submit">Search</button> -->
                                                </form>
                                            </div>
                                            {% for node in page_obj %}
                                                {% if node.status.name not in 'destroyed screamtest' %}
                                                <tr>
                                                    <td><a href="{% url 'node_detail' node.id %}" style="display: inline;">View</a> /

                                                    {% if user.is_staff %} 
                                                        <a href="{% url 'admin:myapp_node_change' node.id %}"style="display: inline;">Edit</a> /
                                                        <a href="{% url 'view_log' node.id %}"style="display: inline;">Log</a>
                                                    {% else %}
                                                        <span style="color: gray; cursor: not-allowed;">Edit</span>
                                                    {% endif %}</td>

                                                    <td><a href="{% url 'node_detail' node.id %}">{{ node.name }}</a></td>
                                                    <td>{{ node.contact }}</td>
                                                    <td>{{ node.centrify_zone }}</td>
                                                    <td>
                                                        {% if node.deployment %}
                                                            <a href="{% url 'deployment_detail' node.deployment.id %}">{{ node.deployment }}</a>
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </td>
                                                    <td class="
                                                            {% if node.status.name == 'inservice' %}status-inservice
                                                            {% elif node.status.name == 'setup' %}status-setup
                                                            {% elif node.status.name == 'failed' %}status-failed
                                                            {% elif node.status.name == 'building' %}status-building
                                                            {% elif node.status.name == 'retired' %}status-retired
                                                            {% elif node.status.name == 'destroyed' %}status-destroyed
                                                            {% endif %}">
                                                    
                                                    {% if node.status.name == 'building' %}
                                                        
                                                        {{ node.status.name }}
                                                        <div class="loader"></div>
                                                        

                                                        <style>
                                                        .loader {
                                                            display: inline-block;
                                                            margin-left: 3px;
                                                            vertical-align: middle; 
                                                            border: 3px solid #f3f3f3;
                                                            border-top: 3px solid #3498db;
                                                            border-radius: 50%;
                                                            width: 12px;
                                                            height: 12px;
                                                            animation: spin 3s linear infinite;
                                                        }

                                                        @keyframes spin {
                                                          0% { transform: rotate(0deg); }
                                                          100% { transform: rotate(360deg); }
                                                        }
                                                        </style>
                                                    {% else %}
                                                        {{ node.status.name }}
                                                    {% endif %}
                                                    </td>
                                                    <td>{{ node.hardware_profile }}</td>
                                                    <td>{{ node.processor_count }}</td>
                                                    <td>{{ node.physical_memory }}</td>
                                                    <td>{{ node.disk_size }}</td>
                                                    <td>{{ node.operating_system }}</td>
                                                </tr>
                                                {% endif %}
                                            
                                                {% if node.status.name == 'destroyed' %}
                                                <tr class=status-destroyed>
                                                    <td><span style="color: gray; cursor: not-allowed;">View</span> /

                                                    {% if user.is_staff %} 
                                                        <span style="color: gray; cursor: not-allowed;">Edit</span> /
                                                        <span style="color: gray; cursor: not-allowed;">Log</span>
                                                    {% endif %}</td>

                                                    <td><a href="{% url 'node_detail' node.id %}">{{ node.name }}</a></td>
                                                    <td>{{ node.contact }}</td>
                                                    <td>{{ node.centrify_zone }}</td>
                                                    <td>
                                                        {% if node.deployment %}
                                                            <a href="{% url 'deployment_detail' node.deployment.id %}">{{ node.deployment }}</a>
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </td>
                                                    <td class=status-destroyed>
                                                    {{ node.status.name }}</td>   
                                                    <td>{{ node.hardware_profile }}</td>
                                                    <td>{{ node.processor_count }}</td>
                                                    <td>{{ node.physical_memory }}</td>
                                                    <td>{{ node.disk_size }}</td>
                                                    <td>{{ node.operating_system }}</td>
                                                </tr>
                                                {% endif %}
                                            
                                                {% if node.status.name == 'screamtest' %}
                                                <tr class=status-screamtest>
                                                    <td><span style="color: gray; cursor: not-allowed;">View</span> /

                                                    {% if user.is_staff %} 
                                                        <span style="color: gray; cursor: not-allowed;">Edit</span> /
                                                        <span style="color: gray; cursor: not-allowed;">Log</span>
                                                    {% endif %}</td>

                                                    <td><a href="{% url 'node_detail' node.id %}">{{ node.name }}</a></td>
                                                    <td>{{ node.contact }}</td>
                                                    <td>{{ node.centrify_zone }}</td>
                                                    <td>
                                                        {% if node.deployment %}
                                                            <a href="{% url 'deployment_detail' node.deployment.id %}">{{ node.deployment }}</a>
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </td>
                                                    <td class=status-screamtest>
                                                    {{ node.status.name }}</td>   
                                                    <td>{{ node.hardware_profile }}</td>
                                                    <td>{{ node.processor_count }}</td>
                                                    <td>{{ node.physical_memory }}</td>
                                                    <td>{{ node.disk_size }}</td>
                                                    <td>{{ node.operating_system }}</td>
                                                </tr>
                                                {% endif %}
                                            
                                            {% endfor %}
                                            <div class="pagination">
                                                <span class="step-links">
                                                {% if page_obj.has_previous %}
                                                    <a href="?q={{ query }}&page=1">&laquo; first</a>
                                                    <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">previous</a>
                                                {% endif %}

                                                <span class="current">
                                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                                </span>

                                                {% if page_obj.has_next %}
                                                    <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">next</a>
                                                    <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                                {% endif %}
                                            </span>
                                            </div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

