<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en-us" dir="ltr">
<head>
    <title>Nodes</title>
    <link rel="stylesheet" href="{% static 'css/shared.css' %}">
<!--     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <style>
        /* Container for sidebar and main content */
        .container {
            display: flex;
        }

        /* Sidebar styles */
        .side-panel {
            width: 50px;  /* Set the width of the sidebar */
        }

        /* Main content styles (shifted to the right) */
        .content-right {
            flex-grow: 1;  /* Takes up remaining space */
            margin-left: 10px;  /* Space between sidebar and content */
        }

        /* Ensure table takes full width of content-right */
        .content-right table {
            width: 100%;
        }
            /* This centers the search container and moves it to the right side */
        .search-container {
            display: flex;
            margin-left: 0px;
        }
        button {
            margin-left: 10px;
            padding: 8px 12px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
    
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (!urlParams.has('page_size')) {  // Only set page size if it's not already in the URL
            const windowHeight = window.innerHeight;

            // Define lines per page based on screen height
            //let pageSize;
            let pageSize = (Math.floor(windowHeight / 30 - 15)) ;
            console.log(pageSize);
            console.log(windowHeight);
            // if (windowHeight > 1024) {
            //     pageSize = 25;   // Large screens
            // } else if (windowHeight > 768) {
            //     pageSize = 18;   // Medium screens
            // } else {
            //     pageSize = 10;   // Small screens
            // }

            // Append page_size to URL and reload
            urlParams.set('page_size', pageSize);
            window.location.search = urlParams.toString();
        }
    });
    </script>

</head>
{% include 'head.html' %}
        <div class="main shifted" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content">
                    <h1>Nodes</h1><a href="/nodes"></a>
                </div>
                <div class="table-container">
                    <div id="content-main">
                        <div class="app-background_task module">
                            <div class="container">
                                <!-- Sidebar placeholder -->
                                <div class="side-panel">
                                    <!-- Add any sidebar content here -->
                                </div>
                                <!-- Main content area where the table is shifted to the right -->
                                <div class="content-right">
                                    <table>
                                        <!-- Links to switch between Node and VRA_Node -->
                                        <a href="{% url 'node_list' %}?model=node">View SSVM Nodes</a> |
                                        <a href="{% url 'node_list' %}?model=vra">View VRA Nodes</a>
                                        <colgroup>
                                            <col style="width: 150px;">  <!-- view/edit -->
                                            <col style="width: 260px;"> <!-- name -->
                                            <col style="width: 150px;"> <!-- owner -->
                                            <col style="width: 150px;"> <!-- zone -->
                                            <col style="width: 350px;"> <!-- Deployment -->
                                            <col style="width: 130px;"> <!-- status -->
                                            <col style="width: 250px;"> <!-- HW -->
                                            <col style="width: 100px;"> <!-- cpu -->
                                            <col style="width: 100px;"> <!-- memory -->
                                            <col style="width: 100px;"> <!-- disk -->
                                            <col style="width: 250px;"> <!-- OS -->
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Owner</th>
                                                <th>Centrify Zone</th>
                                                <th>Deployment</th>
                                                <th>Status</th>
                                                <th>Hardware Profile</th>
                                                <th>CPU</th>
                                                <th>Memory (MB)</th>
                                                <th>Disk (GB)</th>
                                                <th>Operating System</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <div class="search-container">
                                                <form method="GET" action="{% url 'node_list' %}">
                                                    <input type="text" name="q" placeholder="Search by name" value="{{ query }}">
                                                    <input type="hidden" name="model" value="{{ model_type }}">  <!-- Include model type in form -->
<!--                                                     <button type="submit">Search</button> -->
                                                </form>
                                            </div>

                                            
                                            <div class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <a href="?model={{ model_type }}&page={{ page_obj.previous_page_number }}">« Previous</a>
                                                {% else %}
                                                    « Previous
                                                {% endif %}

                                                {% for num in page_obj.paginator.page_range %}
                                                    {% if num == 1 or num == page_obj.paginator.num_pages %}
                                                        {% if num == page_obj.number %}
                                                            <span><strong>{{ num }}</strong></span>  <!-- Current page, highlighted -->
                                                        {% else %}
                                                            <a href="?model={{ model_type }}&page={{ num }}">{{ num }}</a>
                                                        {% endif %}

                                                    {% elif num >= page_obj.number|add:"-3" and num <= page_obj.number|add:"3" %}
                                                        {% if num == page_obj.number %}
                                                            <span><strong>{{ num }}</strong></span>  <!-- Current page, highlighted -->
                                                        {% else %}
                                                            <a href="?model={{ model_type }}&page={{ num }}">{{ num }}</a>
                                                        {% endif %}

                                                    {% elif num == page_obj.number|add:"-4" or num == page_obj.number|add:"4" %}
                                                        <span>…</span>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if page_obj.has_next %}
                                                    <a href="?model={{ model_type }}&page={{ page_obj.next_page_number }}">Next »</a>
                                                {% else %}
                                                    Next »
                                                {% endif %}
                                            </div>


                                            {% for node in page_obj %}
                                                {% if node.status.name not in 'destroyed screamtest' %}
                                                <tr>
                                                    <td><a href="{% url 'node_detail' model_type node.id %}" style="display: inline;">View</a> /

                                                    {% if user.is_staff and model_type != 'vra' %} 
                                                        <a href="{% url 'admin:myapp_node_change' node.id %}"style="display: inline;">Edit</a> /
                                                        <a href="{% url 'view_log' node_id=node.id %}?model={{ model_type }}">Build Log</a>
                                                    {% else %}
                                                        <span style="color: gray; cursor: not-allowed;">Edit</span>
                                                    {% endif %}</td>

                                                    <td><a href="{% url 'node_detail' model_type node.id %}">{{ node.name }}</a></td>
                                                    <td>{{ node.contact }}</td>
                                                    <td>{{ node.centrify_zone }}</td>
                                                    <td>
                                                        {% if node.deployment %}
                                                            <a href="{% url 'deployment_detail' node.deployment.id %}">{{ node.deployment.deployment_name|trim_after_self_serve }}</a>
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </td>
                                                    <td class="status-{% if node.status.name in 'inservice setup' %}{% if node.ping_status == 1 %}Alive{% else %}Dead{% endif %}{% else %}{{ node.status.name }}{% endif %}">
                                                    {% if node.status.name in 'building' %}
                                                        {{ node.status.name }}
                                                        <div class="loader"></div>
                                                        

                                                        <style>
                                                        .loader {
                                                            display: inline-block;
                                                            margin-left: 3px;
                                                            vertical-align: middle; 
                                                            border: 3px solid #f3f3f3;
                                                            border-top: 3px solid #3498db;
                                                            border-radius: 50%;
                                                            width: 12px;
                                                            height: 12px;
                                                            animation: spin 3s linear infinite;
                                                        }

                                                        @keyframes spin {
                                                          0% { transform: rotate(0deg); }
                                                          100% { transform: rotate(360deg); }
                                                        }
                                                        </style>
                                                    {% elif node.status.name in 'prebuild' %}
                                                        {{ node.status.name }}
                                                    {% else %}
                                                        {{ node.status.name }} / {% if node.ping_status == 1 %}Alive{% else %}Dead{% endif %}
                                                    {% endif %}
                                                    </td>
                                                    <td>{{ node.hardware_profile }}</td>
                                                    <td>{{ node.processor_count }}</td>
                                                    <td>{{ node.physical_memory }}</td>
                                                    <td>{{ node.disk_size }}</td>
                                                    <td>{{ node.operating_system }}</td>
                                                </tr>
                                                {% endif %}
                                            
                                                {% if node.status.name == 'destroyed' %}
                                                <tr class=status-destroyed>
                                                    <td><span style="color: gray; cursor: not-allowed;">View</span> /

                                                    {% if user.is_staff and model_type != 'vra' %} 
                                                        <span style="color: gray; cursor: not-allowed;">Edit</span> /
                                                        <span style="color: gray; cursor: not-allowed;">Log</span>
                                                    {% endif %}</td>

                                                    <td><a href="{% url 'node_detail' model_type node.id %}">{{ node.name }}</a></td>
                                                    <td>{{ node.contact }}</td>
                                                    <td>{{ node.centrify_zone }}</td>
                                                    <td>
                                                        {% if node.deployment %}
                                                            <a href="{% url 'deployment_detail' node.deployment.id %}">{{ node.deployment.deployment_name|trim_after_self_serve }}</a>
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </td>
                                                    <td class=status-destroyed>
                                                    {{ node.status.name }}</td>   
                                                    <td>{{ node.hardware_profile }}</td>
                                                    <td>{{ node.processor_count }}</td>
                                                    <td>{{ node.physical_memory }}</td>
                                                    <td>{{ node.disk_size }}</td>
                                                    <td>{{ node.operating_system }}</td>
                                                </tr>
                                                {% endif %}
                                            
                                                {% if node.status.name == 'screamtest' %}
                                                <tr class=status-screamtest>
                                                    <td><span style="color: gray; cursor: not-allowed;">View</span> /

                                                    {% if user.is_staff %} 
                                                        <span style="color: gray; cursor: not-allowed;">Edit</span> /
                                                        <span style="color: gray; cursor: not-allowed;">Log</span>
                                                    {% endif %}</td>

                                                    <td><a href="{% url 'node_detail' model_type node.id %}">{{ node.name }}</a></td>
                                                    <td>{{ node.contact }}</td>
                                                    <td>{{ node.centrify_zone }}</td>
                                                    <td>
                                                        {% if node.deployment %}
                                                            <a href="{% url 'deployment_detail' node.deployment.id %}">{{ node.deployment.deployment_name|trim_after_self_serve }}</a>
                                                        {% else %}
                                                            None
                                                        {% endif %}
                                                    </td>
                                                    <td class=status-screamtest>
                                                    {{ node.status.name }}</td>   
                                                    <td>{{ node.hardware_profile }}</td>
                                                    <td>{{ node.processor_count }}</td>
                                                    <td>{{ node.physical_memory }}</td>
                                                    <td>{{ node.disk_size }}</td>
                                                    <td>{{ node.operating_system }}</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

