#cloud-config
runcmd:
{%- if patch == "True" %}
  - {{ yumupdate }}
{%- endif %}
{%- if adddisk != "False" %}
  - {{ dumpdisks }}
{%- endif %}
  - mkdir /vra_automation
  - mount -o nfsvers=3 st1-isiprod01.nfs.corp.pvt:/ifs/st1-isiprod01/nfs/vra_automation /vra_automation
  - /vra_automation/scripts/main2.sh | tee -a /var/log/vra_automation.log
{%- if adddisk != "False" %}
  - {{ mountdisks }}
{%- endif %}
{%- if cohesity == "True" %}
  - {{ cohesity_install }}
{%- endif %}
{%- if automount == "True" %}
  - {{ automount_homedir }}
{%- endif %}
{%- if fyptools == "True" %}
  - {{ fyptools_install }}
{%- endif %}
  - echo "HOSTNAME - {{ vm }}" >> /etc/cmdb.txt
  - echo "BUILD DATE - {{ date }}" >> /etc/cmdb.txt
  - echo "ENVIRONMENT - {{ type }}" >> /etc/cmdb.txt
  - echo "BUILT BY - {{ builtby }}" >> /etc/cmdb.txt
  - echo "JIRA TICKET - {{ ticket }}" >> /etc/cmdb.txt
  - echo "APP NAME - {{ appname }}" >> /etc/cmdb.txt
  - echo "APP OWNER - {{ owner }}" >> /etc/cmdb.txt
{%- if adjoin %}
  - {{ adjoin }}
  - {{ centrify_sshd }}
{%- endif %}
  - /vra_automation/scripts/send_mail.sh | tee -a /var/log/vra_automation.log
  - umount /vra_automation -f
  - init 6
